/* @import 'tailwindcss'; */
@import '../../vendor/livewire/flux/dist/flux.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
    display: none;
}

/* Juaflix Custom CSS Desktop */

/* Global CSS */
*, html{ color: white; font-family: 'CreatoDisplay-Regular';}
.show{ display: block !important;}
.hide{ display: none !important;}

/* CreatoDisplay Font */
@font-face {
    font-family: 'CreatoDisplay-Bold';
    src: url('../../public/fonts/CreatoDisplay/CreatoDisplay-Bold.otf');
    font-display: swap;
}
@font-face {
    font-family: 'CreatoDisplay-ExtraBold';
    src: url('../../public/fonts/CreatoDisplay/CreatoDisplay-ExtraBold.otf');
    font-display: swap;
}
@font-face {
    font-family: 'CreatoDisplay-Medium';
    src: url('../../public/fonts/CreatoDisplay/CreatoDisplay-Medium.otf');
    font-display: swap;
}
@font-face {
    font-family: 'CreatoDisplay-Regular';
    src: url('../../public/fonts/CreatoDisplay/CreatoDisplay-Regular.otf');
    font-display: swap;
}

.bg-body-black{
    background-image: url('../../public/images/bg-black.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-hero{
    background-image: url('../../public/images/bg-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.active-content-genre{
    background: #FFC300;
}

.transparent-btn{
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
    @apply border border-jf-yellow rounded-[5px];
}
.transparent-btn i{
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
}

.transparent-btn:hover i{
    @apply text-jf-black;
}
.transparent-btn:hover{
    box-shadow: inset 350px 0 0 0 #FFC300;
    @apply text-jf-black;
}
